<div id="direct_upload">
  <h1>Be Royal!</h1>
  <p>
    You know what would make that pretty mug of yours even better looking? An ALCS Champion Kansas
    City Royals logo!
  </p>
  <p>
    Upload the profile photo of your liking, and our patented <i>BeRoyaler Technology</i> will touch it
    up champion style.
  </p>
  <p>For best results, upload an image that is at least 500x500 pixels.</p>

  <%= form_tag "/" do %>
    <%= cl_image_upload_tag(:image_id, transformation: @transform) %>
  <% end %>

  <ul class='overlays'>
    <li class='kcScript'>
      <span class='image'></span>
    </li>
    <li class='kcRoyals'>
      <span class='image'></span>
    </li>
    <li class='kcLogo'>
      <span class='image'></span>
    </li>
  </ul>
  
  <span class="status"></span>
  <div class="preview"></div>
  <div id="info"></div>
</div>
